* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

#banner {
    background: #507445;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 50px;
}

.typed-cursor {
    color: rgb(90, 179, 238);
}